<div class="crp-defense-choice" 
     data-attacker="{{attackerId}}" 
     data-defender="{{defenderId}}" 
     data-weapon="{{weaponId}}">

  <p><b>{{defenderName}}</b> wybiera formę obrony:</p>

  <button class="defense-btn" data-type="parry">Parowanie</button>
  <button class="defense-btn" data-type="dodge">Unik</button>
  <button class="defense-btn" data-type="shield">Tarcza</button>

</div>