<div class="crp-skills-dialog">
  <label for="crp-skills-modifier">Modyfikator umiejętności: <output for="crp-skills-modifier" class="crp-skills-modifier-value">+0</output></label> 
  <div class="crp-skills-modifier-row">
    <span>-4</span>
    <input id="crp-skills-modifier"
           type="range"
           name="skillModifier"
           min="-4"
           max="4"
           step="1"
           value="0">
    <span>+4</span>
  </div>
</div>
